body {
  font-family: "Neutcha";
  background-image: url("shop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 18px;
}

h1 {
  margin-top: 25px;

  color: #5f021f;
  text-align: center;
  font-family: "Pacifico";
  font-weight: bold;
  font-style: italic;
  font-size: 65px;
}

#canele_img {
  border: solid 8px #993300;

  margin-left: 15%;
  margin-right: 15%;

  margin-top: 60px;
  margin-bottom: 60px;
}

#golden_canele {
  color: #ffff00;
  opacity: 0;

  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.interface{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 50px;
  margin-bottom: 50px;

  border: solid 8px #ffff9980;

  text-align: center;

  background-color: #ffffccaa;
}

#n_canele {
  color: #a47;
}
#n_furnace {
  color: #ff5050;
}
