body {
  font-family: "Neutcha";
  background-image: url("shop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-top: 25px;
  
  color: #5f021f;
  text-align: center;
  font-family: "Pacifico";
}

#canele_img {
  border: solid 8px #993300;

  margin-left: 15%;
  margin-right: 15%;

  margin-top: 50px;
  margin-bottom: 50px;
}

#n_canele {
  color: #a47;
}
#n_furnace {
  color: #a47;
}

.interface{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 50px;
  margin-bottom: 50px;

  border: solid 8px #ffff9980;

  text-align: center;

  background-color: #ffffccaa;
}
